* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff /* #ad9893 */;
}

.container {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 200px;
  border-color: red;
  align-items: center;
  justify-content: center;
  border: 5px;
}
